.header, .header a {
    color: white;
}
.headerTop {
    background-color: #6699cc;
    width: 100%;
}
.headerTop::after { /* clearfix */
    content: "";
    clear: both;
    display: table;
}
.header form {float:right;}
.headerBottom {
    background-color: #003399;
    width: 100%;
}
